:root {
    --primary: #c3b682;
    --secondary: #8a9eb6;
    --tertiary: #0d172e;
    --tertiary-2: #0a225c;

    --text: #e6e6e6;
    --text-light: #bac8da;

    --bg-primary: #162c43;
    
    --brightness: 1;
    --bg-opacity: 0.5;
}