:root {
    --primary: #38528b;
    --secondary: #6b75a7;
    --tertiary: #38528b;
    --tertiary-2: #323b52;

    --text: #555555;
    --text-light: #d0dae6;
    --bg-primary: #fffae9;

    --brightness: 0.1;
}