:root {
    --primary: #00f7ff;
    --secondary: #2bff00;
    --tertiary: #ea00ff;
    --tertiary-2: #ff0000;

    --text: #ffffff;
    --text-light: #ffffff;

    --bg-primary: #000000;
    
    --brightness: 1;
    --bg-opacity: 0;
}