:root {
    --primary: #ffffff;
    --secondary: #ffffff;
    --tertiary: #ffffff;
    --tertiary-2: #ffffff;

    --text: #ffffff;
    --text-light: #ffffff;

    --bg-primary: #ffffff;
    
    --brightness: 1;
    --bg-opacity: 1;
}