<footer>
    <img class="hr" src="images/hr.png"></img>
    <img class="signature" src="images/content/signature.png"></img>
    <div class="socials">
        <a href="https://www.instagram.com/thebeardybloke110">
            <img src="images/icons/logos/instagram.svg"></img>
        </a>

        <a href="https://www.instagram.com/thebeardybloke110">
            <img src="images/icons/logos/instagram.svg"></img>
        </a>

        <a href="https://www.instagram.com/thebeardybloke110">
            <img src="images/icons/logos/instagram.svg"></img>
        </a>
    </div>
    <p>Contact Me or Below Websites for Support:</p>
    <a href="https://www.samaritans.org/">Samaritans</a><br>
    <a href="https://www.childline.org.uk/">Childline</a><br>
    <a href="https://www.nhs.uk/nhs-services/mental-health-services/">NHS Mental Health</a>
    <p>© Mark Webb, 2025</p>
</footer>