<footer>
    <img class="hr" src="images/hr.png"></img>
    <img class="signature" src="images/content/signature.png"></img>

    <!-- Social Links -->
    <div class="socials">
        <a href="https://www.instagram.com/thebeardybloke110">
            <img src="images/icons/logos/instagram.svg"></img>
        </a>

        <a href="https://www.instagram.com/thebeardybloke110">
            <img src="images/icons/logos/instagram.svg"></img>
        </a>

        <a href="https://www.instagram.com/thebeardybloke110">
            <img src="images/icons/logos/instagram.svg"></img>
        </a>
    </div>
    
    <p>
        <a href="contact.html">Contact</a>
        <span style="margin: 0 1em;">&#8226</span>
        <a href="attribution.html">Attribution</a>
    </p>
    
    <p id="copyright-disclaimer">© Mark Webb, YEAR</p>
</footer>