<footer>
    <img class="hr" src="images/hr.png"></img>
    <img class="signature" src="images/content/signature.png"></img>
    <div class="socials">
        <a href="https://www.instagram.com/thebeardybloke110">
            <img src="images/icons/logos/instagram.svg"></img>
        </a>

        <a href="https://www.instagram.com/thebeardybloke110">
            <img src="images/icons/logos/instagram.svg"></img>
        </a>

        <a href="https://www.instagram.com/thebeardybloke110">
            <img src="images/icons/logos/instagram.svg"></img>
        </a>
    </div>

    <p>© Mark Webb, 2025</p>
</footer>