header {
    /* width: 100%; */
    display: flex;
}

header .branding {
    padding-top: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
}

header .nav {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: end;

    padding: 0 1em;

    width: 100%;
}

header .nav a {
    text-decoration: none;
}

header .branding #logo {
    max-height: 70px;
    max-width: 70px;
    object-fit: cover;

    color: var(--primary);
}

header .branding #name {
    color: var(--primary);
    font-family: var(--font-head);
    font-size: 1.5em;

    margin: 0;
}