header {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding-top: 2em;
}

header .branding {
    display: flex;
    align-items: center;
    gap: 1em;
    /* width: 100%; */
}

header .nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    float: right;
    align-items: center;
    justify-content: end;

    margin-left: auto;
    /* margin-right: auto; */

    padding: 0 1em;

    /* width: 100%; */
}

header .nav a {
    text-decoration: none;
}

header .branding #logo {
    max-height: 70px;
    max-width: 50px;
    object-fit: cover;

    filter: brightness(var(--brightness));
}

header .branding #name {
    color: var(--primary);
    font-family: var(--font-head);
    font-size: 1.5em;

    margin: 0;
}

/* <a> overrides */
header #branding-link {
    border: none !important;
}

header #branding-link:hover {
    border: none !important;
}

/* Theme Switcher */
#theme-switcher {
    filter: brightness(var(--brightness));
    cursor: pointer;
    transition: all 0.5s;
}

#theme-switcher[active] {
    transform: rotate(180deg);
}