a {
    color: var(--secondary);
    text-decoration: none;
    /* font-weight: bold; */
    /* text-underline-offset: 2px; */
    border-bottom: 2px var(--bg-primary) dashed;

    cursor: pointer;

    transition: all 0.2s;
}

a:hover {
    /* text-decoration: none !important; */
    border-bottom: 2px var(--secondary) dashed;

    filter: brightness(calc(1 + var(--brightness)));
}

a:active {
    filter: brightness(0.75);
    border-bottom: 2px var(--secondary) solid;
}

a:focus {
    /* border: 2px solid var(--secondary); */
    border-bottom: 2px solid var(--primary);

    outline: none;
}

.button {
    margin-top: 1em;
    padding: 10px;
    background-color: var(--tertiary);

    color: var(--text-light);

    border: none;
    border-bottom: 1px dashed var(--text-light);
    box-sizing: border-box;
    
    font-family: var(--font-regular);
    font-size: 1em;
}

.button:hover {
    border: inherit;
    filter: none;
    background-color: var(--tertiary-2);
    border-bottom: 1px dashed var(--tertiary-2);
}

.button:focus {
    border: 2px solid var(--primary);
    border-radius: 3px;

    outline: none;
}

/* Modals */
dialog {
    z-index: 10;

    background-color: var(--bg-primary);
    color: var(--text);

    border: 1px solid var(--tertiary);
    
    box-shadow: 0 0 15px black;
}

dialog h1 {
    margin-bottom: 0;
}

dialog .user-input {
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
    align-items: center;

    margin-top: 1em;
}

dialog .user-input * {
    margin: 0;
}

::backdrop {
    background-color: black;
    opacity: 0.5;
}

kbd {
    border-radius: 0.25rem;
    border: 0 solid var(--secondary);
    border-width: 1px 1px 2px;

    padding: 2px;

    font-family: var(--font-mono);
    font-size: 0.8em;
    /* font-weight: bold; */

    background-color: var(--tertiary);
    color: var(--text-light);
}